/* body{
    font-family: "montserrat";
} */

.btn {
  font-family: "Montserrat";
  font-weight: 500;
}

#tagline {
  font-weight: 900;
  font-size: 3.5rem;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 10%;
}

h1 {
  font-family: "montserrat";
  size: 3rem;
  line-height: 1.5;
}

/* Download Buttons */

.dl-btn {
  margin: 5% 3% 2% 0;
}

/* Title Image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  /* margin: 0px 0 20px 90px; */
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  font-family: "Montserrat";
  padding: 8rem 0;
  background-color: #fff;
  position: relative;
}

h3 {
  font-weight: 900;
  font-size: 2rem;
  margin-top: 1rem;
}

.p-1 {
  color: #8f8f8f;
  padding: 0% 20%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Feature Icons */

.icon , .s-icon{
  color: #ef8172;
}

.icon:hover , .s-icon:hover{
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  font-family: "Montserrat";
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.carousel-item {
  padding: 7% 20%;
}

h2 {
  font-family: "montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 11%;
  margin: auto;
}

/* Pricing Section */

#pricing {
  text-align: center;
  font-family: "montserrat";
  margin: 7% 15%;
}

.card{
  margin-top: 5%;
}

.card-deck {
  margin-top: 5%;
}

/* .sign-btn{
padding-left: 100px;
padding-right: 100px;
}  */

#footer-tag,footer{
  text-align: center;
  font-family: "Montserrat";
  color: #8f8f8f;
}

#footer-tag{
  color: #fff;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
}

#footer{
margin: 7% 15%;
}

.copyright{
  margin-top: 2%;
}
 
.s-icon{
  color: black;
  width: 150%;
  padding: 10px;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }

  #footer-tag {
    width: 70%;
    margin: 7% 15%;
  }

  .p-1 {
    width: 30%;
    margin: auto;
  }

  .title-img, .dl-btn{
    margin-top: 10%;
  }

}
